:root {
    @media (min-width: 480px) {
        --general-text: 12px;
        --general-big-text: 14px;
    }

    @media (min-width: 768px) {
        --general-text: 12px;
        --general-big-text: 14px;
    }

    @media (min-width: 1024px) {
        --general-text: 14px;
        --general-big-text: 16px;
    }

    @media (min-width: 1440px) {
        --general-text: 16px;
        --general-big-text: 18px;
    }

    @media (min-width: 1920px) {
        --general-text: 29px;
        --general-big-text: 32px;
        --margin-top: 20px;
    }

    @media (min-width: 2500px) {
        --general-text: 30px;
        --general-big-text: 36px;
    }
}

@font-face {
    font-family: 'Hypermarket-Regular';
    src:url('fonts/Hypermarket-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Hypermarket-Regular', sans-serif;
    color: #000;
    background-color:  #000000;
    text-align: center;
    margin: 0;  
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

.click-to-copy {
    cursor: pointer;
    transition: all 0.2s ease;
}

.click-to-copy:hover {
    color: #8eaed084;
}

.back_arrow{
    width: 5vh;
    position: fixed;
    cursor: pointer;
    top: 5vh;
    left: 5vw;
    filter: invert(100%);
}


h1 {
    font-size: 24px;
    margin: 0;
    font-family: 'Hypermarket-Regular', sans-serif;
}

.white_title{
    font-size: 24px;
    margin: 15px;
    font-family: 'Hypermarket-Regular', sans-serif;
    color: #ffff;
}

.subtitle {
    font-size: 16px;
    margin: 0;
    font-family: 'Hypermarket-Regular', sans-serif;
}

.contact{

}

.contact span {
    display: block;
    font-family: 'Hypermarket-Regular', sans-serif;
    margin:0px;
    padding: 0%;
}

h2 {
    font-size: 20px;
    margin: 0;
    font-family: 'Hypermarket-Regular', sans-serif;
}

.info p {
    margin: 5px 0;
    text-align: left;
    font-family: 'Hypermarket-Regular', sans-serif;
}

.line {
    width: 100%;

}

p{
    margin: 0;    font-family: 'Hypermarket-Regular', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease;
}

a:hover {
    color: #586a7c84;
    cursor: pointer;
}

table th, table td {
    text-align: left;
    font-family: 'Hypermarket-Regular', sans-serif;
}

/* To ensure the columns align properly, we will explicitly set widths */
th:nth-child(1), td:nth-child(1) { 
    width: 40%;               /* 40% for first column (Skills/Project) */
}

th:nth-child(2), td:nth-child(2) {
    width: 20%;               /* 20% for second column (Years) */
}

th:nth-child(3), td:nth-child(3) {
    width: 40%;               /* 40% for third column (Program/Area) */
}

.barcode img{
    width: 30vh;
    mix-blend-mode: darken; /* Apply the darken effect */
    margin-top: 1vh;
}

.barcode p {
    margin: 5px 0;
    font-family: 'Hypermarket-Regular', sans-serif;
    font-size: var(--general-text);
}


.thank-you {
    margin-top: 20px;
    font-size: var(--general-text);
    font-family: 'Hypermarket-Regular', sans-serif;
    text-align: middle;
}

.info{
    margin-top: 14px;
}

#ImageDesignContainer{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10vh;
}

#VideosKognitivetContainer{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 10vh;
}

#MusicKognitivetContainer{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 10vh;
}

#VideosKognitivet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 4vh;
}

#MusicKognitivet{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 2vh;
    gap: 1vh;
}

#KognitivetLink{
    display: block;
}

.video {
    width: 25vw;
}

.IphoneVideo{
    width: 15vw !important;
}

.Kogmusic{
    height: 352px;
}

.video-info-box {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 8px;
    color: white;
    pointer-events: none;
    z-index: 1000;
    width: 150px;
    backdrop-filter: blur(5px);
    transform: translate3d(0, 0, 0);
}

.info-content {
    font-size: var(--general-text)
}

.Contribution{
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.info-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-content li {
    margin: 5px 0;
    opacity: 0.8;
}

.video-description {
    font-size: var(--general-text);
    margin: 5px 0 10px;
    opacity: 0.9;
    font-style: italic;
}



@media (max-width: 768px) {
    .ux-image, .web-image, .design-image { 
        width: 80vw;
    }
}



#ImageDesign {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#ImageDesign canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 1;
}

.design-image {
    position: absolute;
    visibility: hidden;
    max-width: calc(100vh/3);
    height: auto;
}

.image-projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
    width: 100%;
}

.white_title {
    font-size: var(--general-big-text);
    margin: 15px;
    font-family: 'Hypermarket-Regular', sans-serif;
    color: #ffff;
}

#ImageDesignContainer .back_arrow {
    position: fixed;
    cursor: pointer;
    top: 5vh;
    left: 5vw;
    filter: invert(100%);
    z-index: 20; /* Högre än white_title för att säkerställa att pilen alltid är klickbar */
}

.image-projects-container,
.ux-projects-container,
.web-projects-container {
    display: none;
}

.ux-image,
.web-image {
    display: none;
}

.ux-project,
.web-project,
.image-project {
    margin: 10px;
}

.crumbleVideoClass {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    transform-origin: center center;
    /* filter: blur(10px); */
    transition: filter 0.5s ease;
}

.portfolio {
    display: flex;
    position: fixed;
    margin-top: 3vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
    height: 90vh;
    overflow: hidden;
    transition: filter 5s ease;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
}

.kvitto {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kvitto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    height: 90vh;
    max-width: 30vh;
}

.kvitto-image {
    height: 90vh;
    position: absolute;
    z-index: -1;
}

.subtitle {
    font-size: var(--general-text);
}

.info p {
    font-size: var(--general-text);
}

a {
    font-size: var(--general-text);
}

h1 {
    font-size: var(--general-big-text);
}

table th, table td {
    font-size: var(--general-text);
}

@media (max-width: 768px) {


    .video{ 
        width: 80vw;
    }

    .Kogmusic{
        height: 152px;
    }
}
